.contentCard {
  height: 420px;
  background-color: var(--element);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }

  .flag {
    position: relative;
    background-color: var(--background);
    height: 55%;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .content {
    height: 45%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .meta p {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;

      strong {
        font-weight: 600;
      }
    }
  }
}

