.detailWrapper {
  //width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contentButtonBack {
    width: 100%;

    .backButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--element);
      border: none;
      padding: 0.5rem 2rem;
      border-radius: 6px;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 3rem;
      font-size: 1rem;
    }

  }

  .content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;

    .flag {
      max-width: 560px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      }
    }

    .contentDetails {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;

      .infoCountry {
        display: flex;
        gap: 2rem;

        .firstColumn {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
        }

        .secondColumn {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
        }

      }

      .borders {
        width: 100%;
        display: flex;
        gap: 1rem;
      }

    }
  }

}


@media (max-width: 640px) {
  .detailWrapper {
    padding: 3rem 4rem;
  }

  .detailWrapper .content {
    flex-direction: column;
  }

  .detailWrapper .content .contentDetails {
    width: 100%;
  }
}


@media (min-width: 1024px) {

  .detailWrapper {
    padding: 3rem;
  }

}

@media (min-width: 1280px) {

  .detailWrapper {
    padding: 3rem 4rem;
  }


}
