.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;

  .header {
    background-color: var(--element);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 1rem 10rem;
    border-bottom: 1px solid var(--border);
  }

}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }

  .icon {
    width: 24px;
    height: 24px;
    color: var(--text);
    transition: transform 0.3s ease;
  }

  .icon {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .toggleButton:hover .icon {
    transform: rotate(20deg) scale(1.1);
  }

  .sunIcon, .moonIcon {
    width: 20px;
    height: 20px;
  }

}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.main {
  flex-grow: 1;
  padding: 2rem 4rem;
}

@media (max-width: 640px) {

  .header {
    padding: 1rem 4rem;
  }

  .main {
    padding: 2rem 4rem;
  }

}

@media (min-width: 1024px) {

  .header {
    padding: 1rem 3rem;
  }

  .main {
    padding: 2rem 3rem;
  }

}

@media (min-width: 1280px) {

  .header {
    padding: 1rem 4rem;
  }

  .main {
    padding: 2rem 4rem;
  }

}
